.admission-banner {
    background-image: url(../../../assets/img/slide2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

    .banner-overlay {
        // background-color: transparentize($blue, 0.8);
        background-color: transparentize($off-black, 0.5);
        height: 100%;
        width: 100%;
    }
}