.banner {
    color: $white;
    display: flex;
    align-items: center;
    background-image: url(../../../assets/img/hospital/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;  
    
    h2 {
        font-family: $roboto-condensed;
        font-weight: $title-weight;
        margin: 0;
    }

    p {
        color: $off-white;
        margin-bottom: $lg;
        margin-top: $lg;
    }

    div {
        margin-left: $xlg;
    }

    a {
        background-color: $secondary-color;
        border: none;
        border-radius: 3px;
        color: $off-white;
        cursor: pointer;
        box-shadow: $shadow;
        font-family: $quicksand;
        padding: $sm;
        transition: 0.3s linear all;
    }

    a:visited {
        color: $off-white;
    }

    a:hover {
        background-color: darken($secondary-color, 10%);
    }
}

@media (max-width: $lg-breakpoint) {
    .banner {
        display: block;
        padding-top: $xxxlg;
    }

    .banner p {
        font-size: $md;
        margin-bottom: $xxxlg !important;
        margin-top: $xxxlg !important;
    }
}

@media (max-width: $md-breakpoint) {
    .banner p {
        font-size: $sm;
    }
}

@media (max-width: $sm-breakpoint) {
    .banner {
        display: block;
        padding-top: $xlg;
    }

    .banner p {
        font-size: $sm;
        margin-bottom: $xlg !important;
        margin-top: $xlg !important;
    }

    .banner div {
        margin: 0 $sm;
    }
}