.hospital-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: $lg;

    .contact-hospital {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-hospital:first-child {
        background-image: url(../../../assets/img/hospital/nurse.jpg);
    }
    .contact-hospital:first-child div:first-child {
        background-color: transparentize($primary-color, $amount: 0.2);
        padding: $md;
        width: 100%;
        height: 100%;
    }

    .contact-hospital:first-child {
        a.call-contact {
            border: 1px solid $white;
            border-radius: $button-radius;
            color: $white;
            margin: $normal auto;
            text-align: center;
            width: 65%;
        }
        
        a.call-contact:visited {
            color: $white;
        }
        
        a.call-contact:hover {
            background-color: $white;
            color: $primary-color;
        }
    }

    .contact-hospital:last-child {
        background-image: url(../../../assets/img/hospital/doctor.jpg);
    }
    .contact-hospital:last-child div:first-child {
        background-color: transparentize($primary-color, $amount: 0.1);
        padding: $md;
        width: 100%;
        height: 100%;
    }

    .contact-hospital div:first-child {
        display: flex;
        align-items: center;
    }

    h5 {
        align-self: start;
        color: $white;
        margin-top: 0;
    }

    p {
        color: $off-white;
        align-self: start;
    }

    .contact-info {
        background: transparent !important;
        display: flex;
        flex-direction: column;
    }

    .contact-info + a {
        background-color: transparent;
        border: 1px solid $off-white;
        color: $off-white;
        cursor: pointer;
        border-radius: $button-radius;
        font-family: $quicksand;
        padding-bottom: $normal;
        padding-top: $normal;
        text-align: center;
        width: 60%;
        transition: 0.3s linear all;
    }

    .contact-info + a:visited {
        color: $off-white;
    }

    .contact-info + a:hover {
        background-color: $white;
        color: $primary-color;
    }
}

@media (max-width: $lg-breakpoint) {
    .contact-hospital div:first-child {
        flex-direction: column;
    }

    .contact-info h5, .contact-info p {
        align-self: center;
    }

    .contact-info + a.booking { 
        margin-top: -$xlg !important;
    }
}

@media (max-width: $md-breakpoint) {
    .hospital-contact {
        grid-template-columns: 1fr;
    }

    .contact-info + a.booking { 
        margin-top: $md !important;
    }
}

@media (max-width: $sm-breakpoint) {
    .contact-hospital .contact-info  {
        padding: 0 !important;
    }

    .contact-hospital .contact-info  h5 {
        font-size: $sm;
    }

    .contact-hospital .contact-info + button  {
        margin-top: $sm;
    }

    .contact-hospital:first-child a.call-contact {
        margin: $normal 0 !important;
        width: 80% !important;
    }

    .contact-info + button, .contact-info + a.booking {
        width: 80% !important;
    }
}