div.breadcrumb::before {
    display: none;
}

.breadcrumb {
    background-color: $off-white;
    padding: $sm;

    h3 {
        color: $off-black;
        font-weight: 500;
        margin: 0;
    }

    ul li a.active {
        color: $primary-color !important;
        font-weight: bold;
    }

    ul li a:link {
        color: $off-black;
        line-height: 1.8;
    }

    ul li a:visited {
        color: $off-black;
    }

    ul li a:hover {
        cursor: pointer;
    }

    ul li a:active {
        color: $orange;
    }
}

.breadcrumb ul li {
    display: inline-block;
}

.breadcrumb-icon {
    color: lighten($off-black, 65%);
    position: relative;
    top: -4px;
}

@media (max-width: $lg-breakpoint) {
    .breadcrumb h3 {
        font-size: $md;
    }
}

@media (max-width: $sm-breakpoint) {
    .breadcrumb h3 {
        font-size: $sm;
    }
}